<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VUE Testing</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <style>
        .box {
            padding: 100px 0;
            width: 400px;
            text-align: center;
            background-color: #ddd;
            margin: 20px;
            display: inline-block;
        }
    </style>
</head>
<body>
    <h1>Hello, Vue</h1>

    <div id="app">
        <!-- Attribute Binding-->

        <!-- <a :href="url">cool website</a> -->

        <div v-if="showBooks">
            <p>{{ title }} - {{ author }} - {{ age }}</p>
        </div>

        <button @:click="age++">Increase Age</button>
        <button @:click="age--">Decrease Age</button>

        <button @:click="changeTitle('Oathbringer')">Change Name</button>

        <button @:click="toggleShowBooks">
            <span v-if="showBooks">Hide Books</span>
            <span v-else>Show Books</span>
        </button>

        <div v-show="showBooks">
            Currently showing books
        </div>

        <ul>
            <li v-for="book in books">
                <h3>{{ book.title }}</h3>
                <p>{{ book.author }}</p>
            </li>
        </ul>

        <br>
        <!-- Mouse Events -->
        <div class="box" @:mouseover="handleEvent($event, 1)">mouseover</div>
        <div class="box" @:mouseLeave="handleEvent($event, 1)">mouseleave</div>
        <div class="box" @:dblclick="handleEvent($event, 1)">double click</div>
        <div class="box" @mousemove="handleMousemove">position - {{ x }}, {{ y }}</div>
    </div>

    <script src="app.js"></script>
</body>
</html>